{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}添加{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="url">链接</label>
    <input name="url" id="url" value="{{ request.form['url'] }}" required>
    <label for="title">标题</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="port">端口</label>
    <input name="port" id="port" value="{{ request.form['port'] }}">
    <label for="local_ip">内网 ip</label>
    <input name="local_ip" id="local_ip" value="{{ request.form['local_ip'] }}">
    <input type="submit" value="保存">
  </form>
{% endblock %}
