{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}链接{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.create') }}">添加</a>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <p>{{ post['title'] }}:
            <a href="{{ post['url'] }}" target="_blank" rel="noreferrer">{{ post['url'] }}</a>
            {% if g.ip and post['port'] %}
              <br>
              <span>IP 直连:</span>
              <a href="http://{{ g.ip }}:{{ post['port']}}" target="_blank" rel="noreferrer">http://{{ g.ip }}:{{ post['port']}}</a>
            {% endif %}
          </p>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">修改</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
