{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}修改 "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="url">链接</label>
    <input name="url" id="url" value="{{ request.form['url'] or post['url'] }}" required>
    <label for="title">标题</label>
    <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
    <label for="port">端口</label>
    <input name="port" id="port" value="{{ request.form['port'] or post['port'] }}">
    <label for="local_ip">内网 ip</label>
    <input name="local_ip" id="local_ip" value="{{ request.form['local_ip'] or post['local_ip'] }}">
    <input type="submit" value="保存">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="删除" onclick="return confirm('确认删除?');">
  </form>
{% endblock %}
