<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>导航</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <style>
    .message-body p {
      margin: 1rem;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <section class="section">
    <div class="container is-max-tablet">
      <div class="is-clearfix">
        <h1 class="title" style="float: left;">导航</h1>
        <a class="button is-primary" href="{{ url_for('navboard.create') }}" style="float: right;">添加</a>
      </div>
      <div>
        {% for nav_entry in nav_entrys %}
        <article class="message">
          <div class="message-header">
            <p>{{ nav_entry['title'] }}</p>
            {% if g.user and g.user['id'] == nav_entry['author_id'] %}
            <a class="button" href="{{ url_for('navboard.update', id=nav_entry['id']) }}">修改</a>
            {% endif %}
          </div>
          <div class="message-body">
            <p>域名访问：
              <a href="{{ nav_entry['url'] }}" target="_blank" rel="noreferrer">{{ nav_entry['url'] }}</a>
            </p>
            {% if g.wan_ip and nav_entry['port'] %}
            <p>IP 直连：
              <a href="http://{{ g.wan_ip }}:{{ nav_entry['port'] }}" target="_blank" rel="noreferrer">http://{{ g.wan_ip }}:{{
                nav_entry['port'] }}</a>
            </p>
            {% endif %}
            {% if nav_entry['local_ip'] and nav_entry['port'] %}
            <p>内网直连：
              <a href="http://{{ nav_entry['local_ip'] }}:{{ nav_entry['port'] }}" target="_blank" rel="noreferrer">http://{{
                nav_entry['local_ip'] }}:{{ nav_entry['port'] }}</a>
            </p>
            {% endif %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </section>
</body>

</html>