<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='favicon.ico') }}">
      </a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('index') }}">导航</a>
      <a class="navbar-item" href="{{ url_for('webtools.quick_iina') }}">工具箱</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        {% if g.user %}
        <span>{{ g.user['username'] }}</span>
        <a class="button is-danger" href="{{ url_for('auth.logout') }}">退出</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>